#loading-wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading-wrapper div.loading {
  z-index: 11;
  top: 125px;
  left: 800px;
  position: absolute;
  width: 500px;
  border: 1px solid gray;
  box-shadow: 0 4px #666, inset 0 4px #aaa, 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
#loading-wrapper div.loading div.logoAndname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#loading-wrapper div.loading div.logoAndname div.logo {
  width: 55px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
}
#loading-wrapper div.loading div.logoAndname div.name {
  font-size: larger;
  font-weight: bolder;
}
#loading-wrapper div.loading div.discription {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
#loading-wrapper div.loading div.numberAndphone {
  display: flex;
  justify-content: space-around;
  font-size: large;
  transition: all 0.5s ease-in;
}
#loading-wrapper div.loading div.numberAndphone div.number {
  margin: 10px;
  border: 4px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
#loading-wrapper div.loading div.numberAndphone div.number:hover {
  border-bottom: 4px solid #0e86ff;
}
#loading-wrapper div.loading div.numberAndphone div.phone {
  cursor: pointer;
  margin: 10px;
  border: 4px solid white;
}
#loading-wrapper div.loading div.numberAndphone div.phone:hover {
  border-bottom: 4px solid #0e86ff;
}
#loading-wrapper div.loading div.userAndpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading-wrapper div.loading div.userAndpassword input {
  width: 70%;
  height: 40px;
  margin-bottom: 15px;
}
#loading-wrapper div.loading div.userAndpassword input:focus {
  outline: none;
  box-shadow: none;
}
#loading-wrapper div.loading div.autoLdAndforget {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#loading-wrapper div.loading div.autoLdAndforget div.forget a {
  text-decoration: none;
  color: #0e86ff;
}
#loading-wrapper div.loading div.enter-wrapper {
  display: flex;
  justify-content: center;
}
#loading-wrapper div.loading div.enter-wrapper div.enter {
  cursor: pointer;
  background-color: #0e86ff;
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-top: 0px;
}
#loading-wrapper div.loading div.enter-wrapper div.enter:hover {
  color: #afadad;
  background-color: #0c69c6;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  cursor: pointer;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter div.otherLd {
  flex: 1 1 100px;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter div.img {
  flex: 3 1 200px;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  color: #4e4d4d;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter div.img i.fa-youtube {
  color: red;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter div.Register {
  flex: 1 1 50px;
}
#loading-wrapper div.loading div.otherLd-img-Regisiter div.Register a {
  text-decoration: none;
}
#loading-wrapper div.items {
  display: flex;
  margin-top: 500px;
}
#loading-wrapper div.items div.item1 {
  padding-right: 10px;
}
#loading-wrapper div.items div.item2 {
  padding-right: 10px;
}
#loading-wrapper div.items div.item3 {
  padding-right: 10px;
}
#loading-wrapper div.items div.copyRight1 {
  top: 200px;
  font-size: large;
  font-weight: bold;
}
#loading-wrapper div.mainImg img {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 1;
}
#loading-wrapper div.return {
  position: absolute;
  top: 30px;
  left: 1400px;
  font-size: 45px;
  cursor: pointer;
}

#loading-phone {
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading-phone div.loading-phone {
  z-index: 11;
  top: 125px;
  left: 800px;
  position: absolute;
  width: 500px;
  border: 1px solid gray;
  box-shadow: 0 4px #666, inset 0 4px #aaa, 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
#loading-phone div.loading-phone div.logoAndname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#loading-phone div.loading-phone div.logoAndname div.logo {
  width: 55px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
}
#loading-phone div.loading-phone div.logoAndname div.name {
  font-size: larger;
  font-weight: bolder;
}
#loading-phone div.loading-phone div.discription {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
#loading-phone div.loading-phone div.numberAndphone {
  display: flex;
  justify-content: space-around;
  font-size: large;
  transition: all 0.5s ease-in;
}
#loading-phone div.loading-phone div.numberAndphone div.number {
  margin: 10px;
  border: 4px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
#loading-phone div.loading-phone div.numberAndphone div.number:hover {
  border-bottom: 4px solid #0e86ff;
}
#loading-phone div.loading-phone div.numberAndphone div.phone {
  cursor: pointer;
  margin: 10px;
  border: 4px solid white;
}
#loading-phone div.loading-phone div.numberAndphone div.phone:hover {
  border-bottom: 4px solid #0e86ff;
}
#loading-phone div.loading-phone div.userAndpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading-phone div.loading-phone div.userAndpassword input {
  width: 70%;
  height: 40px;
  margin-bottom: 15px;
}
#loading-phone div.loading-phone div.userAndpassword input:focus {
  outline: none;
  box-shadow: none;
}
#loading-phone div.loading-phone div.userAndpassword div.send {
  width: 30%;
  height: 40px;
  position: absolute;
  top: 193px;
  left: 275px;
  color: white;
  background-color: rgba(170, 170, 170, 0.4862745098);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
#loading-phone div.loading-phone div.userAndpassword div.send:hover {
  background-color: #aaaaaa;
}
#loading-phone div.loading-phone div.autoLdAndforget {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#loading-phone div.loading-phone div.autoLdAndforget div.forget a {
  text-decoration: none;
  color: #0e86ff;
}
#loading-phone div.loading-phone div.enter-wrapper {
  display: flex;
  justify-content: center;
}
#loading-phone div.loading-phone div.enter-wrapper div.enter {
  cursor: pointer;
  background-color: #0e86ff;
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-top: 0px;
}
#loading-phone div.loading-phone div.enter-wrapper div.enter:hover {
  color: #afadad;
  background-color: #0c69c6;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  cursor: pointer;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter div.otherLd {
  flex: 1 1 100px;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter div.img {
  flex: 3 1 200px;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  color: #4e4d4d;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter div.img i.fa-youtube {
  color: red;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter div.Register {
  flex: 1 1 50px;
}
#loading-phone div.loading-phone div.otherLd-img-Regisiter div.Register a {
  text-decoration: none;
}
#loading-phone div.items {
  display: flex;
  margin-top: 500px;
}
#loading-phone div.items div.item1 {
  padding-right: 10px;
}
#loading-phone div.items div.item2 {
  padding-right: 10px;
}
#loading-phone div.items div.item3 {
  padding-right: 10px;
}
#loading-phone div.items div.copyRight1 {
  top: 200px;
  font-size: large;
  font-weight: bold;
}
#loading-phone div.mainImg img {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 1;
}
#loading-phone div.return {
  position: absolute;
  top: 30px;
  left: 1400px;
  font-size: 45px;
  cursor: pointer;
}/*# sourceMappingURL=login.css.map */